<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Controller</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <form method="post" action="/index">
        <div class="btnBeep">
            <input class="btn" type="submit" value="beep" name="action0"/>
        </div>
        <br></br>
        <div class="btnMove">
            <input class="btn" type="submit" value="move" name="action1"/>
        </div>       
        <br></br>
        <div class="btnMove">
            <input class="btn" type="submit" value="left" name="action2"/>
            <div class="btnMove">
                <input class="btn" type="submit" value="" name="stop"/><i class="fa fa-stop fa-lg"></i>
            </div>
            <input class="btn" type="submit" value="right" name="action3" />
        </div> 
        <br></br>  
        <div class="btnMove">
            <input class="btn" type="submit" value="down" name="action4"/>
        </div>       
    </form>
</body>
</html>
